.toggle{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    
    &__left , &__right{
        margin: 0 10px;        
        background-color: $color-4;
        color: $color-1;
        padding: 10px 20px;
        border-radius: 10px;

        cursor: pointer;
        &:hover{
            opacity: 0.6;
        }

        &--active{
            background-color: $color-5;
            color: $color-2;
        }
    }
}